* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100%;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 50px 1fr 50px;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  grid-column: 1 / 3;
  grid-row: 1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 300px 1fr;
}

.logo {
  justify-self: start;
}

.menu ul {

  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;

  grid-column: 1;
  grid-row: 2 / 4;
  display: grid;
  gap: 50px;
}

.sidebar > * {

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2;
  grid-row: 2;
}

.nav ul {

  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;

  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  grid-column: 1 / 3;
  grid-row: -2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}